# js-film-project-oop-es6 → Film Project - ES6 klasöründeki belirli dosyaları hariç tut
"Film Project - ES6/ui.js"       linguist-vendored
"Film Project - ES6/storage.js"  linguist-vendored
"Film Project - ES6/project.js"  linguist-vendored
"Film Project - ES6/film.js"     linguist-vendored
